/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/* start of font */

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-LightItalic.eot');
	src: url('fonts/Raleway/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Raleway/Raleway-LightItalic.woff2') format('woff2'),
		   url('fonts/Raleway/Raleway-LightItalic.ttf') format('truetype'),
		   url('fonts/Raleway/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-Light.eot');
	src: url('fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Raleway/Raleway-Light.woff2') format('woff2'),
		   url('fonts/Raleway/Raleway-Light.ttf') format('truetype'),
		   url('fonts/Raleway/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-Medium.eot');
	src: url('fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
		   url('fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
		   url('fonts/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-MediumItalic.eot');
	src: url('fonts/Raleway/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Raleway/Raleway-MediumItalic.woff2') format('woff2'),
		   url('fonts/Raleway/Raleway-MediumItalic.ttf') format('truetype'),
		   url('fonts/Raleway/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair';
	src: url('fonts/playfairdisplay/PlayfairDisplay-Italic.eot');
	src: url('fonts/playfairdisplay/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Italic.woff2') format('woff2'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Italic.ttf') format('truetype'),
       url('fonts/playfairdisplay/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair';
	src: url('fonts/playfairdisplay/PlayfairDisplay-Regular.eot');
	src: url('fonts/playfairdisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
	  	 url('fonts/playfairdisplay/PlayfairDisplay-Regular.ttf') format('truetype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair';
	src: url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.eot');
	src: url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
		   url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
	  	 url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair';
	src: url('fonts/playfairdisplay/PlayfairDisplay-Bold.eot');
	src: url('fonts/playfairdisplay/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Bold.ttf') format('truetype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* end of fonts */


body {
  font-family: "Raleway", cursive, serif;  
  font-weight: 300;
	font-style: normal;
  color: #2d2d2d;
  margin: auto;
  max-width: 1240px;  
  font-weight: 300;
  font-size: 14px;
}

p {
  font-family: "Raleway", cursive, serif;
  font-weight: 300;
	font-style: normal;
}

.banner {
  display: flex;  
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  padding: 1em 0;
}

.logo {
  width: 28vw;
  padding-left: 1em;  
}

header .logo img {
  width: 100%;
  padding: 2%;
  order: 1;
}

header a {
  display: flex;
  justify-content: space-between;
}

.cart {
  display: flex;
  justify-content: flex-end;
  width: 12vw;
  height: 8vh;
  order: 3;
  padding: 0 1em 1em 0;
}

header .cart img {
  display: flex;
  position: relative;
  justify-content: flex-end;
  justify-content: space-around;
  margin: 5% auto;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-around;
  border-top: 1.5px solid rgb(236,236,236);
  order: 3;
  width: 100vh;
}

header .navigation ul {
  display: flex;
  justify-content: center;
  align-content: baseline;
  text-transform: uppercase;
  justify-content: space-around;
  padding-top: 1em;
  list-style-type: none;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  background:
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)),
    url(images/banner-girl.png) center no-repeat,
    url(images/flower-bkgd.jpg) center no-repeat; 
  background-size: cover, contain;  
  background-position-y: 0, 1.5em; 
  width: 100px;
  height: 100px;
  padding: 40% 0;
  width: 100%;
}

.hero {
  color: white;
  line-height: 2;
}

.hero p {
  text-transform: uppercase;
  font-size: 2vh;
}

.hero h2 {
  font-family: "Playfair";
  font-style: normal;
  font-size: 6vh;
}

h2 {
  font-family: "Playfair", cursive, serif;
  font-style: italic;
  display: inline-block;
  font-size: 35px;
}

.hero span {
  display: block;
}

.styles {
  text-align: center;
  display: inline-block;  
  width: 100%;
  padding-bottom: 3em;
}

.bold {
  font-family: "Playfair", cursive, serif;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
}

.styles {
  display: inline-block;
  padding-top: 10%;  
}

.styles p {
  font-style: normal;
  margin: 3% 5%;
  font-size: 14px;
  line-height: 2;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  display: flex;
  display: grid;
  max-height: 130vh;
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 6px;
  flex-basis: 0
}

.categories p {
  display: flex;  
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 3vh;
}

.men-cat {
  background:
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)), url(images/mens-category.jpg) center no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
  grid-column: 1/-1;  
  height: 30vh;
  width: 100vw;  
}

.trends-cat {
  background:
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)), url(images/trends-category.jpg) center no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;  
  height: 30vh;
  width: 48vw;  
}

.glasses-cat {
  background:
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)), url(images/glasses-category.jpg) center no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;  
  height: 30vh;
  width: 48vw;  
}

.sale-cat {
  background:
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)), url(images/sale-category.jpg) center no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;  
  grid-column: 1;
  height: 30vh;
  width: 48vw;  
}

.bags-cat {
  background:
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)), url(images/bags-category.jpg) center no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;  
  height: 30vh;
  width: 48vw;  
}

.bags a {
  justify-content: center;
}

.woman-cat {
  background:
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)), url(images/womens-category.jpg) center no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;  
  grid-column:1/-1;
  height: 30vh;
  width: 100vw;  
}

.carousel-cell p {
  color:#969696;
}

.products {
  display: block;
  justify-content: center;
  text-align: center;
  padding-bottom: 2em;
}

.carousel-cell {
  width: 100%;
}

.carousel-cell a {
  font-size: 20px;
  line-height: 2;
}

.flickity-prev-next-button {
  display: none;
}

.updates {
  background: 
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)),
  url(images/wave-bkgd.jpg) center no-repeat;
  background-size: cover;  
  color: white;
  text-align: center;
  margin: 1em auto .5em;  
  line-height: 1.5;
  padding-top: 10%;
  width: 100%;  
}

.updates p {
  margin: 2vh 15vw;}

form {
  position: relative;
  background-color: white;
  border-radius: 30px;
  margin: 30px;
}

button{
display: flex;
display: inline-block;
border-style: none;
background: #e2574c;
text-align: center;
color: white;
font-family: "raleway light", "Times New Roman", Times, serif;
position: absolute;
margin: 0 auto;
border-radius: 30px;
right: 4px;
top: 3px;
width: 125px;
height: 35px;
font-size: 1.2rem;
}

input{
border: none;  
width: 90%;
height: 38px;
}

.container {
  padding: 3% 3% 5% 3%;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 3em 0 3em 0;
  font-size: 16px;
}

.contact p {
  font-size: 16px; 
  margin: 0;
}

.powered {
padding-bottom: 0;
line-height: 1.5;
}

.powered a {
  text-decoration: underline;
}

.address {
  color: #969696;
  line-height: 1.5;
}

.phone a {
line-height: 2.5;
}

footer a {
  color: white;
}

.social {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 10% 20% 2%;
}

.social p {
  margin: 2%;
}

.social span {
  display: none;
}

a {
  color: #e2574c;
  text-decoration: none;
}

a:hover {
  color: #b64036;
}

/* Tablet min width 600px */

@media all and (min-width:600px) {

  body {
    font-size: 16px;
  }

  a {
    transition: color .5s;
  }

  .banner {
    border: none;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 120px;
    padding-left: 2em;
}

  .navigation {
    border: none;
    width: 50%;
    order: 2;
  }

  .hero {
    background-position-y: 0, 4.5em;
  }

  .hero p {
    font-size: 25px;
  }

  .hero h2 {
    font-size: 8vh;
    
  }

  .hero span {
    display: inline-block;
  }

  .styles p {
    margin: 0 20%;
    
  }

  .categories {
    max-width: 1240px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px; 
  }

  .men-cat {
    grid-area: 1 / 1 / 2 / 3;
    height: 30vh;
    width: 100%;  
  }

  .trends-cat {
    grid-area: 1 / 3 / 2 / 4; 
    height: 30vh;
    width: 100%;  
  }

  .glasses-cat {
    grid-area: 1 / 4 / 4 / 5;
    height: 30vh;
    width: 100%;  
  }

  .sale-cat {
    grid-area: 2 / 1 / 2 / 2;  
    height: 30vh;
    width: 100%;  
  }

  .bags-cat {
    grid-area: 2 / 2 / 2/ 3;
    height: 30vh;
    width: 100%;  
  }

  .woman-cat {
    grid-area: 2 / 3 / 4 / 5;  
    height: 30vh;
    width: 100%;  
  }

  .products {
    padding-top: 2em;
  }

  .carousel-cell {
    width: 50%;
  }

  .container {
   margin: 0 20%;
  }

  footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 3em 0 2em 0; 
  }

  footer p {
    justify-content: flex-end;
  }

  footer .social p {
    margin: 0px;
    padding: 0px;
    width: 130px;
  }

  .contact {
    padding-left: 5%;
  }

  .social {
    display: flex;
    flex-direction: column;
    display: inline-block;
    text-align: left;
    padding: 0 20px 1em;
    }

  .social span {
    display: inline-block;
    width: 50%;
    padding: 5%;
  }
}

/* desktop min width 1240px; */
@media all and (min-width:1240px) {
  .carousel-cell {
    width: 25%;
  }

  .contianer {
    margin: 0 10em;
     }   
}
