/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/* start of font */

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-LightItalic.eot');
	src: url('fonts/Raleway/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Raleway/Raleway-LightItalic.woff2') format('woff2'),
		   url('fonts/Raleway/Raleway-LightItalic.ttf') format('truetype'),
		   url('fonts/Raleway/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-Light.eot');
	src: url('fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Raleway/Raleway-Light.woff2') format('woff2'),
		   url('fonts/Raleway/Raleway-Light.ttf') format('truetype'),
		   url('fonts/Raleway/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-Medium.eot');
	src: url('fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
		   url('fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
		   url('fonts/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-MediumItalic.eot');
	src: url('fonts/Raleway/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Raleway/Raleway-MediumItalic.woff2') format('woff2'),
		   url('fonts/Raleway/Raleway-MediumItalic.ttf') format('truetype'),
		   url('fonts/Raleway/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair';
	src: url('fonts/playfairdisplay/PlayfairDisplay-Italic.eot');
	src: url('fonts/playfairdisplay/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Italic.woff2') format('woff2'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Italic.ttf') format('truetype'),
       url('fonts/playfairdisplay/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair';
	src: url('fonts/playfairdisplay/PlayfairDisplay-Regular.eot');
	src: url('fonts/playfairdisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
	  	 url('fonts/playfairdisplay/PlayfairDisplay-Regular.ttf') format('truetype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair';
	src: url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.eot');
	src: url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
		   url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
	  	 url('fonts/playfairdisplay/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair';
	src: url('fonts/playfairdisplay/PlayfairDisplay-Bold.eot');
	src: url('fonts/playfairdisplay/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Bold.ttf') format('truetype'),
		   url('fonts/playfairdisplay/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* end of fonts */

a {
  transition: .5s;
}

body {
  color: #2d2d2d;
  max-width: 100%;
  font-weight: 300;
  font-family: "Raleway", cursive, serif;
}

p {
  font-family: "Playfair", cursive, serif;
}

.banner {
  display: flex;  
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  padding: 1em 0;
}

.logo {
  width: 6em;
  height: 6em;
}

header .logo img {
  width: 100%;
  padding: 2%;
  order: 1;
}

.cart {
  display: flex;
  justify-content: flex-end;
  width: 3em;
  /* height: 30%; */
  height: 3em;
  order: 3;
  padding-right: 2em;  
}

header .cart img {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin: 5% auto;
  width: 100%;
  padding: 6%;  
  order: 3;
}

.navigation {
  width: 100%;
  border-top: 1.5px solid rgb(236,236,236);
  order: 3;
}

header .navigation ul {
  display: flex;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  justify-content: space-around;
  width: 100%;
  padding-top: 1em;
}

header ul {
  list-style-type: none;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  background:
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)),
    url(images/banner-girl.png) center no-repeat,
    url(images/flower-bkgd.jpg) center no-repeat; 
  background-size: cover, contain;  
  background-position-y: 0, 2.5em; 
  font-size: 25px;
  width: 100px;
  height: 100px;
  padding: 40% 0;
  width: 100%;
}

.hero {
  color: white;
  line-height: 2;
}

.hero p {
  text-transform: uppercase;
}

.hero h2 {
  font-family: "Playfair";
  font-style: normal;
  font-size: 45px;
}

h2 {
  font-family: "Playfair", cursive, serif;
  font-style: italic;
  display: inline-block;
  font-size: 40px;
}

.hero span {
  display: block;
}

.styles {
  text-align: center;
  display: inline-block;  
  width: 100%;
  padding-bottom: 3em;
}

.bold {
  font-family: "Playfair", cursive, serif;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
}

.styles {
  display: inline-block;
  padding-top: 10%;  
}

.styles p {
  font-family: "Playfair", cursive, serif;
  font-style: normal;
  margin: 3%;
  font-size: 14px;
  line-height: 2;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  display: grid;
  background-color: #ccc;
  /* width: 600px; */
  width: 100%;
  height: 80vh;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 50% 50%;
  /* grid-template: none 3 / 2; */
}

.men-cat {
  background: url(images/mens-category.jpg) center no-repeat;
  background-size: contain;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: stretch;
  
  
  /* grid-column: 1 / 3; */
  /* grid-row: 1; */
}

/* .men a {
  color: white;
  justify-content: center;
  margin: 0 50%;
} */

.trends-cat {
  background: url(images/trends-category.jpg) center no-repeat;
  background-size: contain;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  
  align-self: stretch;
}

/* .trends a {
  color: white;
  justify-content: center;
  margin: 0 50%;
} */


.glasses-cat {
  background: url(images/glasses-category.jpg) center no-repeat;
  background-size: contain;
  width: 20%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: center;
  
}

/* .glasses a {
  color: white;
  justify-content: center;
  margin: 0 50%;
} */

.sale-cat {
  background: url(images/sale-category.jpg) center no-repeat;
  background-size: contain;
  width: 45%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

/* .sale a {
  color: white;
  justify-content: center;
  margin: 0 50%;
} */

.bags-cat {
  background: url(images/bags-category.jpg) center no-repeat;
  background-size: contain;
  width: 45%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

/* .bags a {
  color: white;
  justify-content: center;
  margin: 0 50%;
} */

.woman-cat {
  background: url(images/womens-category.jpg) center no-repeat;
  background-size: contain;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}

.woman a {
  color: white;
  justify-content: center;
  margin: 0 50%;
}

.products {
  display: inline-block;
  justify-content: center;
  text-align: center;
  padding-top: 5em;
}

.products h3 {
  color: #e2574c;
}

.updates {
  background: 
  linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0,0.3)),
  url(images/wave-bkgd.jpg) center no-repeat;
  width: 100%;
  background-size: cover;  
  color: white;
  padding-top: 10%;
  text-align: center;
  line-height:1.5;
  margin: 1em auto .5em;
}

.updates p {
  margin: 1em 3em;
}

.container {
  padding: 7%;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  padding-top: 3em;
  font-size: 16px;
}

.contact p {
  font-size: 16px; 
  margin: 0;
}

.powered {
padding-bottom: 0;
line-height: 1.5;
}

.powered a {
  text-decoration: underline;
}

.address {
  color: #969696;
  padding-top: 0;
  line-height: 1.5;
}
footer a {
  color: white;
}

.social {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 10% 20%;
}

.social p {
  margin: 2%;
}

.social span {
  display: none;
}

a {
  color: #e2574c;
  text-decoration: none;
}

a:hover {
  color: #b64036;
}

/* Tablet min width 600px */

@media all and (min-width:600px) {

.banner {
  border: none;
}

.navigation {
  border: none;
  width: 60%;
  order: 2;
}

.hero span {
  display: inline-block;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

footer p {
  justify-content: flex-end;
}

footer .social p {
  margin: 0px;
  padding: 0px;
  width: 130px;
}

.contact {
  padding-left: 5%;
}

.social {
  display: flex;
  flex-direction: column;
  display: inline-block;
  text-align: left;
  padding: 0 20px 5%;
}

.social span {
  display: inline-block;
  width: 50%;
  padding: 5%;
  }
}

/* desktop min width 1240px; */


/* base font-size: 16px;
font size: */

